<section data-ng-controller="homeController" home-directive>
    <div class="modal fade" id="overall_control_panel" tabindex="-1" role="dialog" aria-labelledby="overall_control_panel_label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="overall_control_panel_label">Overall Control Panel</h4>
                </div>
                <div class="modal-body">
                    <h4>Time</h4>

                    <h5>Dates</h5>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-group">
                                <div>
                                    <input type="text" id="date-range" readonly style="text-align:left; border:0; color:black; font-weight:bold; width: 300px;background-color: transparent">
                                </div>
                                <div id="date-slider-range" style="width: 120px;"></div>
                            </div>
                        </div>
                    </div>

                    <h5>Hour Range</h5>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-group">
                                <div>
                                    <input type="text" id="hour-range" readonly style="text-align:left; border:0; color:black; font-weight:bold; width: 65px;background-color: transparent">
                                </div>
                                <div id="hour-slider-range" style="width: 120px;"></div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="changeControlParameters()">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="left_views">

    <div map-directive data-ng-controller="mapController">
        <div class="map_panel panel panel-default">
            <div class="panel-heading">
                Flow-out Map View &nbsp;&nbsp;&nbsp;&nbsp;

                <button type="button" id="source_marker_control" class="btn btn-primary btn-xs">
                    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                </button>

                <button type="button" id="source_reset" class="btn btn-primary btn-xs">
                    <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
                </button>

                <button type="button" id="source_info" class="btn btn-primary btn-xs">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                </button>

                <button type="button" id="source_setting" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#source_control_panel">
                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                </button>

                <div class = "pull-right">
                    <input type="text" id="source_hour_range" readonly style="text-align:left; border:0; color:white; font-weight:bold; width: 65px;background-color: transparent">
                    <div id="source_slider-range" style="width: 120px;float: right; position: relative; right: 8px; top: 6px;"></div>
                </div>
            </div>
            <div id="source_map" class="map_panel_body panel-body"></div>

            <div class="modal fade" id="source_control_panel" tabindex="-1" role="dialog" aria-labelledby="source_control_panel_label" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="source_control_panel_label">Flow-out Map Control Panel</h4>
                        </div>
                        <div class="modal-body">
                            <h5>Circle Size Filter</h5>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="input-group">
                                        <input type="text" class="source-circle-size-filter form-control" placeholder="Least Region Num" aria-describedby="basic-addon1" value=""/>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" ng-click="changeSourceControlParameters()">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="map_panel panel panel-default">
            <div class="panel-heading">
                Flow-in Map View &nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" id="dest_marker_control" class="btn btn-primary btn-xs">
                    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                </button>

                <button type="button" id="dest_radial_graph_control" class="btn btn-primary btn-xs">
                    <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                </button>

                <button type="button" id="dest_reset" class="btn btn-primary btn-xs">
                    <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
                </button>

                <button type="button" id="dest_info" class="btn btn-primary btn-xs">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                </button>

                <button type="button" id="dest_setting" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#dest_control_panel">
                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                </button>


                <div class = "pull-right">
                    <input type="text" id="dest_hour_range" readonly style="text-align:left; border:0; color:white; font-weight:bold; width: 65px;background-color: transparent">
                    <div id="dest_slider-range" style="width: 120px;float: right; position: relative; right: 8px; top: 6px;"></div>
                </div>
            </div>
            <div id="dest_map" class="map_panel_body panel-body"></div>

            <div class="modal fade" id="dest_control_panel" tabindex="-1" role="dialog" aria-labelledby="dest_control_panel_label" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="dest_control_panel_label">Flow-in Map Control Panel</h4>
                        </div>
                        <div class="modal-body">
                            <h5>Circle Size Filter</h5>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="input-group">
                                        <input type="text" class="dest-circle-size-filter form-control" placeholder="Least Region Num Or Person Num" aria-describedby="basic-addon1" value="" style="width: 300px;"/>
                                    </div>
                                </div>
                            </div>

                            <h5>Circle Size Encoding</h5>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <input type="radio" name = "circleSizeIndex" class="dest_circle_size_index" value="regionNum" checked aria-label="regionNum">Region Num</input>
                                            <input type="radio" name = "circleSizeIndex" class="dest_circle_size_index" value="personNum" aria-label="personNum">Person Num</input>
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" ng-click="changeDestControlParameters()">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div flow-map-directive data-ng-controller="flowMapController" class="flowmap_panel panel panel-default">
        <div class="panel-heading">Flowmap View &nbsp;&nbsp;&nbsp;&nbsp;

            <button type="button" id="flow_map_style" class="btn btn-primary btn-xs">
                <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
            </button>

            <button type="button" id="flowmap_control_btn" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#flowmap_control_panel">
                Control Panel
            </button>

            <div class = "pull-right">
                <input type="text" id="flow_map_hour_range" readonly style="text-align:left; border:0; color:white; font-weight:bold; width: 65px;background-color: transparent">
                <div id="flow_map_slider-range" style="width: 120px;float: right; position: relative; right: 8px; top: 6px;"></div>
            </div>

        </div>
        <div id="flowmap_graph" class="flowmap_panel_body panel-body">

            <div>
                <div id="cluster_0_name" class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="cluster_0_dropdownMenu_button" data-toggle="dropdown" aria-expanded="true">
                        <span class="cluster_name">POI</span>
                        <span class="caret"></span>
                    </button>
                    <ul id="cluster_0_dropdown-menu" class="dropdown-menu" role="menu" aria-labelledby="cluster_0_dropdownMenu">
                    </ul>
                </div>

                <div id="cluster_1_name" class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="cluster_1_dropdownMenu_button" data-toggle="dropdown" aria-expanded="true">
                        <span class="cluster_name">POI</span>
                        <span class="caret"></span>
                    </button>
                    <ul id="cluster_1_dropdown-menu" class="dropdown-menu" role="menu" aria-labelledby="cluster_1_dropdownMenu">
                    </ul>
                </div>

                <div id="cluster_2_name" class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="cluster_2_dropdownMenu_button" data-toggle="dropdown" aria-expanded="true">
                        <span class="cluster_name">POI</span>
                        <span class="caret"></span>
                    </button>
                    <ul id="cluster_2_dropdown-menu" class="dropdown-menu" role="menu" aria-labelledby="cluster_2_dropdownMenu">
                    </ul>
                </div>
            </div>
        </div>

        <div class="modal fade" id="flowmap_control_panel" tabindex="-1" role="dialog" aria-labelledby="flowmap_control_panel_label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="flowmap_control_panel_label">Flowmap Control Panel</h4>
                    </div>
                    <div class="modal-body">
                        <h5>Voronoi Iteration: </h5>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <input type="text" id="VoronoiRegion_iteration" class="VoronoiRegion_iteration form-control" placeholder="Voronoi Iteration" aria-describedby="basic-addon1" value="100"/>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" ng-click="changeControlParameters()">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div radial-graph-directive data-ng-controller="radialGraphController">
        <div class="radial_graph_panel panel panel-default">
            <div class="panel-heading">
                Contour-based Treemap View &nbsp;&nbsp;&nbsp;&nbsp;

                <div class = "pull-right">

                    <button type="button" select="true" id="voronoi_info" class="btn btn-primary btn-xs" ng-click="switchIsLegend()">
                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                    </button>

                    <button type="button" id="control_btn" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#control_panel">
                        Control Panel
                    </button>
                </div>
            </div>
            <div id="radial_graph" class="radial_graph_panel_body panel-body" style="padding: 0px;"></div>
        </div>

        <div class="modal fade" id="control_panel" tabindex="-1" role="dialog" aria-labelledby="control_panel_label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="control_panel_label">Treemap Control Panel</h4>
                    </div>
                    <div class="modal-body">
                        <h5>Hours Per Sector</h5>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <input type="text" class="radialGraph_hoursPerSector form-control" placeholder="Hours Per Sector" aria-describedby="basic-addon1" value="2"/>
                                </div>
                            </div>
                        </div>

                        <h5>Sort Type</h5>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="input-group">
                                        <span class="input-group-addon">
                                            <input type="radio" name = "sortType" class="radialGraph_sortType" value="distance" checked aria-label="Distance">Distance</input>
                                            <input type="radio" name = "sortType" class="radialGraph_sortType" value="loyalty" aria-label="Loyalty">Loyalty</input>
                                        </span>
                                </div>
                            </div>
                        </div>

                        <h5>Max Distance of Encoding</h5>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <input type="text" class="radialGraph_maxDistance form-control" placeholder="Max Distance" aria-describedby="basic-addon1" value="20"/>
                                </div>
                            </div>
                        </div>

                        <h5>Sigma of Gaussian Smooth</h5>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <input type="text" class="radialGraph_sigma form-control" placeholder="Sigma" aria-describedby="basic-addon1" value="2"/>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" ng-click="changeControlParameters()">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="legend_tree_map"></div>
    </div>

    <!--<div class="matrix_panel panel panel-default">-->
    <!--<div class="panel-heading">Adjacency Matrix Graph</div>-->
    <!--<div id="adjacency_matrix_graph" class="matrix_panel_body panel-body"></div>-->
    <!--</div>-->
</div>

<div id="right_views">
    <div matrix-directive data-ng-controller="matrixController" class="matrix_panel panel panel-default">
        <div class="panel-heading">Matrix View &nbsp;&nbsp;&nbsp;&nbsp;

            <button type="button" select="true" id="matrix_marker_info" class="btn btn-primary btn-xs pull-right" ng-click="switchIsLegend()">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            </button>

            <button type="button" select="true" id="matrix_refresh" class="btn btn-primary btn-xs pull-right" ng-click="refresh()">
                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
            </button>

        </div>
        <div id="matrix_graph" class="matrix_panel_body panel-body"></div>

        <div id="legend_matrix"></div>
    </div>

    <div parallel-coordinates-directive data-ng-controller="parallelCoordinatesController" >
        <div class="parallel_coordinates_panel panel panel-default">
            <div class="panel-heading">
                Parallel Coordinates View &nbsp;&nbsp;&nbsp;&nbsp;

                <div class="pull-right">
                    <button type="button" id="parallel_coordinates_histogram" class="btn btn-primary btn-xs" ng-click="switchIsHistogram()">
                        <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
                    </button>

                    <button type="button" id="parallel_coordinates_reset" class="btn btn-primary btn-xs" ng-click="reset()">
                        <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
                    </button>

                    <button type="button" select="true" id="parallel_coordinates_info" class="btn btn-primary btn-xs" ng-click="switchIsLegend()">
                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                    </button>

                    <button type="button" id="parallel_coordinates_control_btn" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#parallel_coordinates_control_panel">
                        Control Panel
                    </button>

                </div>

            </div>
            <div id="parallel_coordinates" class="parallel_coordinates_panel_body panel-body"></div>
        </div>

        <div class="modal fade" id="parallel_coordinates_control_panel" tabindex="-1" role="dialog" aria-labelledby="control_panel_label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="parallel_coordinates_control_panel_label">Parallel Coordinates Control Panel</h4>
                    </div>
                    <div class="modal-body">
                        <h5>Dimensions</h5>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <span class="input-group-addon" style="text-align:left">
                                        <input type="checkbox" name = "dimension" class="parallelCoordinates_dimensions" value="m_sd_distance" checked aria-label="m_sd_distance"><span style="font-weight: bold;padding-left:5px;line-height: 20px">m.Std.Dist</span> (Standard deviation of distance among co-occurred regions)</input>
                                        <br />
                                        <input type="checkbox" name = "dimension" class="parallelCoordinates_dimensions" value="m_mean_distance" checked aria-label="m_mean_distance"><span style="font-weight: bold;padding-left:5px;line-height: 20px">m.Avg.Dist</span> (Average distance among co-occurred regions)</input>
                                        <br />
                                      <input type="checkbox" name = "dimension" class="parallelCoordinates_dimensions" value="n_m_sd_distance" checked aria-label="n_m_sd_distance"><span style="font-weight: bold;padding-left:5px;line-height: 20px">n.m.Std.Dist</span> (Standard deviation of travelling distance)</input>
                                        <br />
                                        <input type="checkbox" name = "dimension" class="parallelCoordinates_dimensions" value="n_m_min" checked aria-label="n_m_min"><span style="font-weight: bold;padding-left:5px;line-height: 20px">n.m.Min.Dist</span> (Minimal travelling distance)</input>
                                        <br />
                                        <input type="checkbox" name = "dimension" class="parallelCoordinates_dimensions" value="n_m_mean_distance" checked aria-label="n_m_mean_distance"><span style="font-weight: bold;padding-left:5px;line-height: 20px">n.m.Avg.Dist</span> (Average travelling distance)</input>
                                        <br />
                                        <input type="checkbox" name = "dimension" class="parallelCoordinates_dimensions" value="n_m_max" checked aria-label="n_m_max"><span style="font-weight: bold;padding-left:5px;line-height: 20px">n.m.Max.Dist</span> (Maximal travelling distance)</input>
                                        <br />
                                        <input type="checkbox" name = "dimension" class="parallelCoordinates_dimensions" value="time_slice_sum" checked aria-label="time_slice_sum"><span style="font-weight: bold;padding-left:5px;line-height: 20px">no.TimeSlice</span> (Total number of time slices when co-occurrence happens)</input>
                                        <br />
                                        <input type="checkbox" name = "dimension" class="parallelCoordinates_dimensions" value="persons_sum" checked aria-label="persons_sum"><span style="font-weight: bold;padding-left:5px;line-height: 20px">no.People</span> (Total number of people involved)</input>

                                    </span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" ng-click="changeParallelCoordinatesControlParameters()">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="legend_parallel_coordinates"></div>
    </div>

    <div line-up-directive data-ng-controller="lineUpController">
        <div class="lineup_panel panel panel-default">
            <div class="panel-heading">Extended LineUp View &nbsp;&nbsp;&nbsp;&nbsp;

                <div class ="pull-right">
                    <button type="button" select="true" id="lineup_marker_info" class="btn btn-primary btn-xs" ng-click="switchIsLegend()">
                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                    </button>
                </div>

            </div>
            <div id="lineup_graph" class="lineup_panel_body panel-body">
                <div class="lugui_panel">
                    <div id="lugui-menu">
                        <div style="display: inline-block; float: left; padding-left:5px; padding-top:2px;">
                            <span id="lugui-menu-rendering"> </span>
                            <span id="lugui-menu-actions"> </span>
                        </div>
                    </div>
                    <div id="lugui-wrapper"></div>
                </div>
            </div>
        </div>

        <div id="horizon_charts">
        </div>

        <div id="legend_lineup"></div>
    </div>
</div>

<div class="modal fade" id="about_us_panel" tabindex="-1" role="dialog" aria-labelledby="about_us_panel_label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="about_us_panel_label">About Us</h4>
            </div>
            <div class="modal-body">

                <p>
                    Understanding co-occurrence in urban human mobility (i.e., people from two regions visit an urban place during the same time span) is of great value in a variety of applications, such as urban planning, business intelligence, social behavior analysis, as well as containing contagious diseases.
                </p>

                <p>
                    In recent years, the widespread use of mobile phones brings an unprecedented opportunity to capture large-scale and fine-grained data (i.e., telco data) to study co-occurrence in human mobility.
                </p>

                <p>
                    This is an interactive visual analytics system, TelCoVis, developed by UrbanVis team of VisLab at Hong Kong University of Science and Technology and Huawei Technologies Co., Ltd. It helps analysts leverage their domain knowledge to gain insight into the co-occurrence in urban human mobility based on telco data.
                </p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!--<div id="legend_src_map"></div>
<div id="legend_des_map"></div>-->