<div class="headcontainer" data-ng-controller="headerController">
    <div class="navbar-header">
        <a ng-click="go('/peak/entrance', 'crossFade')" class="navbar-brand" style="font-size: 24px; color: white; cursor: pointer;">Telco Vis</a>
    </div>

    <div class="navbar-header" style="float: right">
        <a class="navbar-brand" style="font-size: 22px; color: #DEDEDE; cursor: pointer;" data-toggle="modal" data-target="#overall_control_panel">Control Panel</a>
        <a class="navbar-brand" style="font-size: 22px; color: #DEDEDE; cursor: pointer;" data-toggle="modal" data-target="#about_us_panel">About Us</a>
        <a class="navbar-brand" style="font-size: 22px; color: #DEDEDE; cursor: pointer;">Help</a>
    </div>
</div>